# Clean tables

translate to english, turn into bool, remove unecessary col

In [ ]:
import pandas as pd

In [48]:
v24 = pd.read_csv("data/valenbisi2024.csv")
v24

/var/folders/vs/5hqqq9px6_z7w4dnv2j4238m0000gn/T/ipykernel_2269/84657631.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  v24 = pd.read_csv("data/valenbisi2024.csv")

,Direccion,Numero,Activo,Bicis_disponibles,Espacios_libres,Espacios_totales,ticket,fecha_actualizacion,geo_shape,geo_point_2d,datetime,update_jcd
0,"Colón, 60",16,T,1,19,20,T,19/01/2024 00:09:53,"{""coordinates"": [-0.3704333693720587, 39.47009...","39.470092316192336,-0.3704333693720587",2024-01-19 00:15:01,NaN
1,Plaza de Tetuán,9,T,0,25,25,T,19/01/2024 00:09:53,"{""coordinates"": [-0.3699303648826442, 39.47435...","39.47435533016869,-0.3699303648826442",2024-01-19 00:15:01,NaN
2,Micer Mascó - Rodriguez Fornos,81,T,5,15,20,F,19/01/2024 00:09:53,"{""coordinates"": [-0.36097833354659675, 39.4751...","39.47512832851177,-0.36097833354659675",2024-01-19 00:15:01,NaN
3,General Elio - Llano del Real,83,T,0,25,25,T,19/01/2024 00:09:53,"{""coordinates"": [-0.3669703519914759, 39.47758...","39.47758533929587,-0.3669703519914759",2024-01-19 00:15:01,NaN
4,Blasco Ibañez - Mestre Ripoll,100,T,18,2,20,F,19/01/2024 00:09:53,"{""coordinates"": [-0.33815025853445674, 39.4716...","39.471634305646866,-0.33815025853445674",2024-01-19 00:15:01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8421489,Doctor Tomás Sala - Carteros,254,T,5,14,19,T,23/01/2024 17:44:30,"{""coordinates"": [-0.3899174536874086, 39.44771...","39.447714251158565,-0.3899174536874086",2024-04-27 00:00:02,NaN
8421490,Pintor Rafael Solves - Jose Soto Mico,258,T,1,14,15,T,23/01/2024 17:44:30,"{""coordinates"": [-0.3891374575312111, 39.43982...","39.43982822413676,-0.3891374575312111",2024-04-27 00:00:02,NaN
8421491,Tres Forques - Colonia Española de Mexico,262,T,13,5,20,T,23/01/2024 17:44:30,"{""coordinates"": [-0.40922550688289966, 39.4634...","39.463472312903384,-0.40922550688289966",2024-04-27 00:00:02,NaN
8421492,Av. del Cid - Marconi,264,T,7,13,20,T,23/01/2024 17:44:30,"{""coordinates"": [-0.4144325204450301, 39.46916...","39.46916033373618,-0.4144325204450301",2024-04-27 00:00:02,NaN
8421493,Dels Gremis - Campos Crespo,252,T,3,17,20,T,23/01/2024 17:44:30,"{""coordinates"": [-0.40357449843597065, 39.4502...","39.45028826570709,-0.40357449843597065",2024-04-27 00:00:02,NaN

In [49]:
v24.count()
v24['update_jcd'].unique()
# -> updating data to JCDecaux, not relevant for us

array([nan, '2024-12-29T01:06:29+01:00', '2024-12-29T01:00:31+01:00', ...,
       '2024-11-18T00:45:14+01:00', '2024-11-18T00:46:11+01:00',
       '2024-11-18T00:47:24+01:00'], shape=(1171963,), dtype=object)

In [50]:
v24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8421494 entries, 0 to 8421493
Data columns (total 12 columns):
 #   Column               Dtype
---  ------               -----
 0   Direccion            object
 1   Numero               int64
 2   Activo               object
 3   Bicis_disponibles    int64
 4   Espacios_libres      int64
 5   Espacios_totales     int64
 6   ticket               object
 7   fecha_actualizacion  object
 8   geo_shape            object
 9   geo_point_2d         object
 10  datetime             object
 11  update_jcd           object
dtypes: int64(4), object(8)
memory usage: 771.0+ MB

In [59]:
def clean_valenbisi(df):
    data = df.copy()
    data['Direction'] = data['Direccion']
    data['Number'] = data['Numero']
    data['Active'] = data['Activo'].map({'T': 1, 'F': 0}).astype(int)
    data['Free_bici'] = data['Bicis_disponibles']
    data['Free_stand'] = data['Espacios_libres']
    data['Total_stands'] = data['Espacios_totales']
    data['Ticket'] = data['ticket'].map({'T': 1, 'F': 0})
    data['Update_date'] = pd.to_datetime(data['fecha_actualizacion'], format='%d/%m/%Y %H:%M:%S')
    data[['Latitude', 'Longitude']] = data['geo_point_2d'].str.split(",", expand=True).astype(float)
    data['Folder_datetime'] = data['datetime']

    data.drop(columns=['Direccion', 'Numero','Activo','Bicis_disponibles', 'Espacios_libres',
                     'Espacios_totales','ticket', 'fecha_actualizacion', 'geo_shape',
                     'geo_point_2d', 'update_jcd', 'datetime'], inplace=True)
    return data

In [60]:
v24_clean = clean_valenbisi(v24)
v24_clean.head()

,Direction,Number,Active,Free_bici,Free_stand,Total_stands,Ticket,Update_date,Latitude,Longitude,Folder_datetime
0,"Colón, 60",16,1,1,19,20,1,2024-01-19 00:09:53,39.470092,-0.370433,2024-01-19 00:15:01
1,Plaza de Tetuán,9,1,0,25,25,1,2024-01-19 00:09:53,39.474355,-0.369930,2024-01-19 00:15:01
2,Micer Mascó - Rodriguez Fornos,81,1,5,15,20,0,2024-01-19 00:09:53,39.475128,-0.360978,2024-01-19 00:15:01
3,General Elio - Llano del Real,83,1,0,25,25,1,2024-01-19 00:09:53,39.477585,-0.366970,2024-01-19 00:15:01
4,Blasco Ibañez - Mestre Ripoll,100,1,18,2,20,0,2024-01-19 00:09:53,39.471634,-0.338150,2024-01-19 00:15:01

In [62]:
min_date = v24_clean['Folder_datetime'].min()
max_date = v24_clean['Folder_datetime'].max()

print(f"Folder_datetime range: {min_date} to {max_date}")

min_date = v24_clean['Update_date'].min()
max_date = v24_clean['Update_date'].max()

print(f"Update_date range: {min_date} to {max_date}")

Folder_datetime range: 2024-01-01 00:00:02 to 2024-12-31 00:00:04
Update_date range: 2023-10-04 22:05:06 to 2024-12-30 23:49:46

In [64]:
v25 = pd.read_csv("data/valenbisi2025.csv")
v25_clean = clean_valenbisi(v25)

valenbisi = pd.concat([v24_clean, v25_clean], ignore_index=True)
valenbisi = valenbisi[(valenbisi['Update_date'] >= '2024-01-01 00:00:00') & (valenbisi['Update_date'] <= '2025-05-01 00:00:00')]
valenbisi.head()

,Direction,Number,Active,Free_bici,Free_stand,Total_stands,Ticket,Update_date,Latitude,Longitude,Folder_datetime
0,"Colón, 60",16,1,1,19,20,1,2024-01-19 00:09:53,39.470092,-0.370433,2024-01-19 00:15:01
1,Plaza de Tetuán,9,1,0,25,25,1,2024-01-19 00:09:53,39.474355,-0.369930,2024-01-19 00:15:01
2,Micer Mascó - Rodriguez Fornos,81,1,5,15,20,0,2024-01-19 00:09:53,39.475128,-0.360978,2024-01-19 00:15:01
3,General Elio - Llano del Real,83,1,0,25,25,1,2024-01-19 00:09:53,39.477585,-0.366970,2024-01-19 00:15:01
4,Blasco Ibañez - Mestre Ripoll,100,1,18,2,20,0,2024-01-19 00:09:53,39.471634,-0.338150,2024-01-19 00:15:01

In [66]:
min_date = valenbisi['Update_date'].min()
max_date = valenbisi['Update_date'].max()

print(f"Update_date range: {min_date} to {max_date}")
valenbisi.info()

Update_date range: 2024-01-01 00:09:18 to 2025-04-30 23:50:05
<class 'pandas.core.frame.DataFrame'>
Index: 11545227 entries, 0 to 12106720
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   Direction        object
 1   Number           int64
 2   Active           int64
 3   Free_bici        int64
 4   Free_stand       int64
 5   Total_stands     int64
 6   Ticket           int64
 7   Update_date      datetime64[ns]
 8   Latitude         float64
 9   Longitude        float64
 10  Folder_datetime  object
dtypes: datetime64[ns](1), float64(2), int64(6), object(2)
memory usage: 1.0+ GB

In [68]:
valenbisi.to_csv('data/VALENBISI.csv', index=False)